.main {
	box-shadow: 0 0 5px black;
	margin: auto;
	width: 60%;
	margin-top: 2%;
	border-radius: 5px;
	font-family: sans-serif;
}
h2 {
	margin-left: 40px;
	padding-top: 20px;
	font-weight: bolder;
	font-size: xx-large;
}
.Input {
	margin: auto;
	padding: 10px;
	margin: 30px;
	margin-bottom: 30px;
	margin-right: 60px;
}
input[type="text"] {
	width: 100%;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px black;
}
input[type="text"]:focus,
textarea:focus {
	border: 1px solid rgba(81, 203, 238, 1);
	outline: none;
	box-shadow: 0 0 5px cornflowerblue;
}
textarea {
	width: 100%;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px black;
	height: 150px;
}
.content {
	height: 150px;
}
button {
	width: 70px;
	height: 40px;
	outline: none;
	border-radius: 5px;
	font-size: 20px;
	background-color: white;
	border: 2px solid cornflowerblue;
	color: cornflowerblue;
}
button:hover {
	background-color: cornflowerblue;
	color: white;
}
